version: '3.5'

services:
  flask_server:
    build:
      context: .
      dockerfile: ServerDockerfile
    depends_on:
      - stanford
    expose:
      - "5000"
    ports:
      - "5000:5000"
    environment:
      VIRTUAL_HOST: "xn--lhrz38b.xn--v0qr21b.xn--kpry57d"
      VIRTUAL_PORT: 5000
  stanford:
    image: a8568730/stanford_hua5gi2_nlp

